:root{
    --marron: #BC6C25;
    --marron2: #DDA15E;
    --transparentin: rgba(144, 144, 144, 0.443);
    --baige: #FEFAE0;
    --verde: #283618;
    --verde2: #606C38;
}
#detalle{
    font-size: 3rem;
    background-color: var(--baige);
}
p{
    color: var(--marron);
    background-color: var(--baige);
}